* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
}

.loginBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-position-x: center;
    background-position-y: center;
    height: 100%;
    resize: both;
}

#logo {
    padding: 10px;
    border-radius: 15px;
    // background-color: white;
    // mix-blend-mode: hard-light;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginButton {
    align-items: center;
    margin-top: 20px;   
    background-color: rgb(250, 250, 250);
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
    width: 120px;
    height: 40px;
    font-size: 16;
    color:rgb(47, 95, 54);
}

.background { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-position-x: center;
    background-position-y: center;
    height: 100%;
    resize: both;
}

#username {
    width: 60%;
    padding: 10px;
    color:rgb(47, 95, 54)
}

#usernameBar {
    margin-top: 10px;
    border-radius: 7%/100%;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
}

#password {
    margin-top: 40px;
    margin-bottom: 40px;
    color:rgb(47, 95, 54)
}

#passwordBar {
    margin-top: 10px;
    border-radius: 7%/100%;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(35, 68, 40);
}

#searchBox {
    border-radius: 7%/100%;
    text-align: center;
    width: 500px;
    height: 40px;
    justify-self: center;
    align-self: center;
    border: 1px solid rgb(27, 78, 7);
}

#searchButton {
    background-color: rgb(47, 95, 54);
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    width: 120px;
    height: 40px;
    color: rgb(255, 255, 255);
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(35, 68, 40);
}

#heart #check {
    color: black;
    width: 15px;
    height: 15px;
}

#heart:focus {
    color: red;
    // padding: 1px;
}

#rLabel {
    color: white;
    font-size: 16px;
    padding: 2px;
}

#favItem {
    background-color: lightgoldenrodyellow;
    margin-bottom: 15px;
}
